body {
    padding-top: 55px;
}
.style1{
    background-color: white;
    color: black;
}
.bd-highlight {
    border: 1px solid rgba(86,61,124,0.15);
}
.style-text-height{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}
